html{
    min-height:100%;
    min-width:100%;
    -ms-text-size-adjust:none;
}
body,div,dl,dt,dd,ul,ol,li,nav,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a{
    margin:0px;
    padding:0px;
    border-width:0px;
    border-style:solid;
    border-color:transparent;
    -webkit-transform-origin:left top;
    -ms-transform-origin:left top;
    -o-transform-origin:left top;
    transform-origin:left top;
    background-repeat:no-repeat;
}
button.submit-btn{
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}

.transition{
    -webkit-transition-property:background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
    transition-property:background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
}
.transition *{
    -webkit-transition:inherit;
    transition:inherit;
}
table{
    border-collapse:collapse;
    border-spacing:0px;
}
fieldset,img{
    border:0px;
    border-style:solid;
    -webkit-transform-origin:left top;
    -ms-transform-origin:left top;
    -o-transform-origin:left top;
    transform-origin:left top;
}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{
    font-style:inherit;
    font-weight:inherit;
}
del,ins{
    text-decoration:none;
}
li{
    list-style:none;
}
caption,th{
    text-align:left;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:inherit;
}
input,button,textarea,select,optgroup,option{
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
}.form-grp input,.form-grp textarea{
    -webkit-appearance:none;
    -webkit-border-radius:0;
}body{
    font-family:'Roboto', sans-serif;;
    text-align:left;
    font-size:14px;
    line-height:17px;
    word-wrap:break-word;
    text-rendering:optimizeLegibility;
    -moz-font-feature-settings:'liga';
    -ms-font-feature-settings:'liga';
    -webkit-font-feature-settings:'liga';
    font-feature-settings:'liga';
}
a{
    color:inherit;
    text-decoration:inherit;
}

a:hover{
    color:#0000FF;
    text-decoration:underline;
}
a:active{
    color:#EE0000;
    text-decoration:underline;
}
a.nontext{
    color:black;
    text-decoration:none;
    font-style:normal;
    font-weight:normal;
}
.normal_text{
    color:#000000;
    direction:ltr;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    font-style:normal;
    font-weight:normal;
    letter-spacing:0px;
    line-height:17px;
    text-align:left;
    text-decoration:none;
    text-indent:0px;
    text-transform:none;
    vertical-align:0px;
    padding:0px;
}
.Character-Style{
    font-family: 'Roboto', sans-serif;
    font-size:23px;
    font-weight:300;
}
.Character-Style-1{
    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size:25px;
    font-weight:300;
}
.Character-Style-2{
    font-family: 'Roboto', sans-serif;
    font-size:19px;
    font-weight:300;
    line-height: 1.4;
}
.Character-Style-3{
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    font-weight:300;
    line-height: 1.4;
}
.Character-Style-4{
    color:#1B1464;
    font-family: 'Roboto', sans-serif;
    font-size:25px;
    font-weight:300;
    line-height: 1.3;
}
.Character-Style-5{
    color:#1B1464;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    font-weight:300;
}
.Character-Style-6{
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight:300;
}
.Character-Style-9{
    color:#000000;
    font-family: 'Roboto', sans-serif;
    font-size:19px;
    font-weight:400;
}
.Character-Style-10{
    color:#000000;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight:300;
}
.Character-Style-8,.Character-Style-12{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}
.Character-Style-13{
    color:#1B1464;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight:300;
}
.Character-Style-7,.Character-Style-11,.Character-Style-14{
    color:#1B1464;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    font-weight:300;
}
.list0 li:before{
    position:absolute;
    right:100%;
    letter-spacing:0px;
    text-decoration:none;
    font-weight:normal;
    font-style:normal;
}
.rtl-list li:before{
    right:auto;
    left:100%;
}
.nls-None > li:before,.nls-None .list3 > li:before,.nls-None .list6 > li:before{
    margin-right:6px;
    content:'•';
}
.nls-None .list1 > li:before,.nls-None .list4 > li:before,.nls-None .list7 > li:before{
    margin-right:6px;
    content:'○';
}
.nls-None,.nls-None .list1,.nls-None .list2,.nls-None .list3,.nls-None .list4,.nls-None .list5,.nls-None .list6,.nls-None .list7,.nls-None .list8{
    padding-left:34px;
}
.nls-None.rtl-list,.nls-None .list1.rtl-list,.nls-None .list2.rtl-list,.nls-None .list3.rtl-list,.nls-None .list4.rtl-list,.nls-None .list5.rtl-list,.nls-None .list6.rtl-list,.nls-None .list7.rtl-list,.nls-None .list8.rtl-list{
    padding-left:0px;
    padding-right:34px;
}
.nls-None .list2 > li:before,.nls-None .list5 > li:before,.nls-None .list8 > li:before{
    margin-right:6px;
    content:'-';
}
.nls-None.rtl-list > li:before,.nls-None .list1.rtl-list > li:before,.nls-None .list2.rtl-list > li:before,.nls-None .list3.rtl-list > li:before,.nls-None .list4.rtl-list > li:before,.nls-None .list5.rtl-list > li:before,.nls-None .list6.rtl-list > li:before,.nls-None .list7.rtl-list > li:before,.nls-None .list8.rtl-list > li:before{
    margin-right:0px;
    margin-left:6px;
}
.TabbedPanelsTab{
    white-space:nowrap;
}
.MenuBar .MenuBarView,.MenuBar .SubMenuView{
    display:block;
    list-style:none;
}
.MenuBar .SubMenu{
    display:none;
    position:absolute;
}
.NoWrap{
    white-space:nowrap;
    word-wrap:normal;
}
.rootelem{
    margin-left:auto;
    margin-right:auto;
}

.section{
    display: block;
    margin: auto;
    width: 90%;
    padding: 50px 0;
    max-width: 1450px;
}

.popup_anchor{
    position:relative;
    width:0px;
    height:0px;
}
.allow_click_through *{
    pointer-events:auto;
}
.popup_element{
    z-index:100000;
}
.svg{
    display:block;
    vertical-align:top;
}
span.wrap{
    content:'';
    clear:left;
    display:block;
}
span.actAsInlineDiv{
    display:inline-block;
}
.excludeFromNormalFlow{
    float:left;
}
.preload_images{
    position:absolute;
    overflow:hidden;
    left:-9999px;
    top:-9999px;
    height:1px;
    width:1px;
}
.preload{
    height:1px;
    width:1px;
}
.animateStates{
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
}
[data-whatinput="mouse"] *:focus,[data-whatinput="touch"] *:focus,input:focus,textarea:focus{
    outline:none;
}
textarea{
    resize:none;
    overflow:auto;
}
.allow_click_through,.fld-prompt{
    pointer-events:none;
}
.wrapped-input{
    position:absolute;
    top:0px;
    left:0px;
    background:transparent;
    border:none;
}
.submit-btn{
    z-index:50000;
    cursor:pointer;
}
.anchor_item{
    width:22px;
    height:18px;
}
.MenuBar .SubMenuVisible,.MenuBarVertical .SubMenuVisible,.MenuBar .SubMenu .SubMenuVisible,.popup_element.Active,span.actAsPara,.actAsDiv,a.nonblock.nontext,img.block{
    display:block;
}
.widget_invisible,.js .invi,.js .mse_pre_init{
    visibility:hidden;
}
.ose_ei{
    visibility:hidden;
    z-index:0;
}
.no_vert_scroll{
    overflow-y:hidden;
}
.always_vert_scroll{
    overflow-y:scroll;
}
.always_horz_scroll{
    overflow-x:scroll;
}
.fullscreen{
    overflow:hidden;
    left:0px;
    top:0px;
    position:fixed;
    height:100%;
    width:100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
.fullwidth{
    position:absolute;
}
.borderbox{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
.scroll_wrapper{
    position:absolute;
    overflow:auto;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
    margin-top:0px;
    margin-bottom:0px;
}
.browser_width > *{
    position:absolute;
    left:0px;
    right:0px;
}
.accordion_wrapper{
    display:inline;
    float:left;
}
.fld-checkbox input[type=checkbox],.fld-radiobutton input[type=radio]{
    position:absolute;
    overflow:hidden;
    clip:rect(0px, 0px, 0px, 0px);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0px;
    border:0px;
}
.fld-checkbox input[type=checkbox] + label,.fld-radiobutton input[type=radio] + label{
    display:inline-block;
    background-repeat:no-repeat;
    cursor:pointer;
    float:left;
    width:100%;
    height:100%;
}
.pointer_cursor,.fld-recaptcha-mode,.fld-recaptcha-refresh,.fld-recaptcha-help{
    cursor:pointer;
}
p,h1,h2,h3,h4,h5,h6,ol,ul,span.actAsPara{
    max-height:1000000px;
}
.superscript{
    vertical-align:super;
    font-size:66%;
    line-height:0px;
}
.subscript{
    vertical-align:sub;
    font-size:66%;
    line-height:0px;
}
.horizontalSlideShow{
    -ms-touch-action:pan-y;
    touch-action:pan-y;
}
.verticalSlideShow{
    -ms-touch-action:pan-x;
    touch-action:pan-x;
}
.colelem100,.verticalspacer{
    clear:both;
}
.list0 li,.MenuBar .MenuItemContainer,.SlideShowContentPanel .fullscreen img,.css_verticalspacer .verticalspacer{
    position:relative;
}
.popup_element.Inactive,.js .disn,.js .an_invi,.hidden,.breakpoint{
    display:none;
}
#muse_css_mq{
    position:absolute;
    display:none;
    background-color:#FFFFFE;
}
.fluid_height_spacer{
    width:0.01px;
}
.muse_check_css{
    display:none;
    position:fixed;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
    body{
        text-rendering:auto;
    }
}
/* Header */
.header {
    display: flex;
    max-width: 1450px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: linear-gradient(to right, #FFFFFF 10%, rgba(41, 171, 226, 0.11));
    border-style: solid;
    border-color: #7F7F7F;
    border-width: 1px 0px 0px;
}
.header .logo-wrapper {
    width: 30%;
    height: auto;
}
/* Nav */
.nav-item--link {
    color: #0071BC;
}
.nav-item--link:hover {
    color:#1B1464;
}

.nav-wrapper {
    width: 70%;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* Hero */
.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-row-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.hero-sidebar {
    background-color: #1B1464;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    min-height: inherit;
    gap: 35px;
    min-width: 250px;
}

.hero-sidebar h4 a {
    color: #fff;
    font-size: 26px;
}

.hero-sidebar ul {
    color: #fff;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero-image {
    background-image: url('');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 75%;
    min-height: inherit;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 1;
}

.hero-image h1 {
    color: #1B1464;
    font-size: 72px;
    font-weight: 400;
    text-align: center;
    width: 60%;
    line-height: 1.1;
}

.button {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 14px 50px;
    background-color: #1B1464;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.button span {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.button:hover span {
    color: #fff;
}

.button:hover {
    background-color: #000;
    text-decoration: none;
}

.hero-row-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #0071BC;
    width: 100%;
}

.hero-inner-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 430px;
}

.hero-inner-row .image-col {
    background-image: url('../images/screen shot 2022-04-04 at 100038 am.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: inherit;
    width: 50%;
}

.hero-info {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.hero-info h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    line-height: 1.1;
}

.hero-info p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    line-height: 1.5;
}

.hero-row-2 h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    line-height: 1.1;
}

/* layout */
.row-2-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 430px;
    gap: 30px;
    position: relative;
}

.row-2-col--item {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.blue-bg {
    background-color: #1B1862;
}

.services-info h2 {
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    text-align: left;
    line-height: 1.1;
}

.services-info  p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    line-height: 1.5;
}

.services-info  h4 {
    color: #fff;
    font-size: 20px;
    font-weight:600;
    text-align: left;
    line-height: 1.5;
}

.checkmark-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.checkmark-row img {
    width: 100px;
}

.row-2-col--item.center-aligned-content {
    align-items: center;
}

.full-width-img {
    width: 100%;
    height: auto;
    max-height: 700px;
    object-fit: cover;
    object-position: center;
}

.col-align-top {
    justify-content: flex-start;
}

.row-col-align-top {
    align-items: flex-start;
}

.white-bg {
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
}